<ng-container *ngIf="role === 'Admin'">
    <h1 mat-dialog-title>Add Window</h1>
  
    <div mat-dialog-content >   
      <form [formGroup]="windowForm">
        <div id="horizontalFields" >   
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput placeholder="Name">      
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea formControlName="description" matInput></textarea>
              </mat-form-field>              

        </div>
        <h2>Dimensions</h2>
        <div id="horizontalFields" >                        
            <mat-form-field appearance="outline">            
                <mat-label>Width</mat-label>
                <input formControlName="width" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">            
                <mat-label>Height</mat-label>
                <input formControlName="height" matInput>
            </mat-form-field>        
            <mat-form-field appearance="outline">
                <mat-label>Perimeter</mat-label>
                <input formControlName="perimeter" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Area</mat-label>
                <input formControlName="singleArea" matInput>
            </mat-form-field>

        </div>
        <h2>Others</h2>
        <div id="horizontalFields">
            <mat-form-field appearance="outline">
                <mat-label>U</mat-label>
                <input  formControlName="u" matInput>
            </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Quantity </mat-label>
                <input formControlName="quantity" matInput>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Cardinal Direction</mat-label>
                <input formControlName="cardinalDirection" matInput>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Floor</mat-label>
                <input formControlName="floor" matInput>
              </mat-form-field>          
        </div> 
        
        
        
                
        </form>       
    </div>
  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addWindow()" >{{actionBtn}}</button>
  
  </div>
  </ng-container>
  <ng-container *ngIf="role != 'Admin'">
    <h1 mat-dialog-title>You can add new door only as a logged user !</h1>
    <div mat-dialog-actions [align]="'end'">
      <button mat-raised-button color="warn" mat-dialog-close>Close</button>  
    </div>
  </ng-container>


  
  