<div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="building-information">
            BUILDING INFORMATION
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="building-parameters">
            BUILDING PARAMETERS
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="doors">
            DOORS
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="windows">
            WINDOWS
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="materials">
            BUILDING MATERIALS
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="divisional-structures">
            DIVISIONAL STRUCTURES
        </a>
      </li>        
    </ul>        
</div>
