<app-project-settings></app-project-settings>
<router-outlet></router-outlet>

<div class="container-fluid">
  <div class="row">
    <ng-container>
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
        <app-left-container></app-left-container>
      </nav>
    </ng-container>
    <div class="mainContainer">
      <div class="info-bar">
        <span>Building parameters</span>
        <button class="saveButton" mat-raised-button color="warn" (click)="saveBuildingParameters()">Save</button>
        <span class="example-spacer"></span>
        <div class="btn-toolbar mb-2 mb-md-4 m-2">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <i class="fa-solid fa-calendar"></i>
            This week
          </button>
        </div>
      </div>

      <form [formGroup]="buildingParametersForm">
        <h2>Building outer dimensions [m]</h2>
        <div class="data-container">
          <mat-form-field appearance="fill">
            <mat-label>Length N</mat-label>
            <input formControlName="buildingLengthN" matInput placeholder="Length N">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Length E</mat-label>
            <input formControlName="buildingLengthE" matInput placeholder="Length E">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Length S</mat-label>
            <input formControlName="buildingLengthS" matInput placeholder="Length S">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Length W</mat-label>
            <input formControlName="buildingLengthW" matInput placeholder="Length W">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Perimeter</mat-label>
            <input formControlName="perimeterOfTheBuilding" matInput placeholder="Perimeter Of The Building">
          </mat-form-field>
        </div>

        <h2>Storey dimensions [m]</h2>
        <div class="data-container">
          <mat-form-field appearance="fill">
            <mat-label>Storey Height Net</mat-label>
            <input formControlName="storeyHeightNet" matInput placeholder="Storey Height Net">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Storey Height Gross</mat-label>
            <input formControlName="storeyHeightGross" matInput placeholder="Storey Height Gross">
          </mat-form-field>
        </div>


        <h2>Attic</h2>
        <div class="data-container">
          <mat-form-field appearance="fill">
            <mat-label>Heat Area</mat-label>
            <input formControlName="heatAtticArea" matInput placeholder="Heat Attic Area">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Unheated Area</mat-label>
            <input formControlName="unheatedAtticArea" matInput placeholder="Unheated Attic Area">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Usable Area</mat-label>
            <input formControlName="atticUsableArea" matInput placeholder="Attic Usable Area">
          </mat-form-field>
        </div>

        <h2>Staircase</h2>
        <div class="data-container">
          <mat-form-field appearance="fill">
            <mat-label>Width</mat-label>
            <input formControlName="staircaseWidth" matInput placeholder="Staircase Width">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Surface</mat-label>
            <input formControlName="staircaseSurface" matInput placeholder="StaircaseSurface">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Usable Area</mat-label>
            <input formControlName="usableAreaOfTheStairCase" matInput placeholder="Usable Area Of The Stair Case">
          </mat-form-field>
        </div>

        <h2>Total Windows area [m²]</h2>
        <div class="data-container">
          <mat-form-field appearance="fill">
            <mat-label>N</mat-label>
            <input formControlName="totalWindowAreaN" matInput placeholder="Total Window Area N">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>E</mat-label>
            <input formControlName="totalWindowAreaE" matInput placeholder="Total Window Area E">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>S</mat-label>
            <input formControlName="totalWindowAreaS" matInput placeholder="Total Window Area S">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>W</mat-label>
            <input formControlName="totalWindowAreaW" matInput placeholder="Total Window Area W">
          </mat-form-field>
        </div>

        <h2>Total Doors area [m²]</h2>
        <div class="data-container">
          <mat-form-field appearance="fill">
            <mat-label>N</mat-label>
            <input formControlName="totalDoorAreaN" matInput placeholder="Total Door Area N">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>E</mat-label>
            <input formControlName="totalDoorAreaE" matInput placeholder="Total Door Area E">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>S</mat-label>
            <input formControlName="totalDoorAreaS" matInput placeholder="Total Door Area S">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>W</mat-label>
            <input formControlName="totalDoorAreaW" matInput placeholder="Total Door Area W">
          </mat-form-field>
        </div>

        <h2>Building areas [m²]</h2>
        <div class="data-container">
          <mat-form-field appearance="fill">
            <mat-label>Area</mat-label>
            <input formControlName="buildingArea" matInput placeholder="Building Area">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Usable Area</mat-label>
            <input formControlName="usableAreaOfTheBuilding" matInput placeholder="Usable Area Of The Building">
          </mat-form-field>
        </div>

        <h2>Others</h2>
        <div class="data-container">
          <mat-form-field appearance="fill">
            <mat-label>Balcony Length</mat-label>
            <input formControlName="balconyLength" matInput placeholder="Balcony Length">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Cellar Height</mat-label>
            <input formControlName="cellarHeight" matInput placeholder="Cellar Height">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Storey Quantity</mat-label>
            <input formControlName="storeyQuantity" matInput placeholder="Storey Quantity">
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
</div>