<app-project-settings></app-project-settings>
<router-outlet></router-outlet>

<div class="container-fluid">
  <div class="row">
    <ng-container>
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
        <app-left-container></app-left-container>
      </nav>
    </ng-container>
    <div class="mainContainer">
      <div class="info-bar">
        <span>Building parameters</span>
        <button class="saveButton" mat-raised-button color="warn"
          (click)="this.actionBtn === 'Save' ? saveBuildingParameters() : updateBuildingParameters()">{{actionBtn}}</button>
        <span *ngIf="isFormChanged">Please save updated data !</span>
        <span class="example-spacer"></span>
        <div class="btn-toolbar mb-2 mb-md-4 m-2">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <i class="fa-solid fa-calendar"></i>
            This week
          </button>
        </div>
      </div>

      <form [formGroup]="buildingParametersForm">
        <div class="header">
          <h2>Building external dimensions without insulation [m]</h2>
          <mat-icon class="info-icon" (click)="openInfoDialogExternalDimensions()">info</mat-icon>
        </div>
        <div class="data-container">
          <mat-form-field appearance="fill">
            <mat-label>Total length (N)</mat-label>
            <input formControlName="buildingLengthN" matInput type="number" placeholder="Total length (N)" min="0"
              max="10000" step="0.1">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Total length (E)</mat-label>
            <input formControlName="buildingLengthE" matInput type="number" placeholder="Total length (E)" step="0.1">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Total length (S)</mat-label>
            <input formControlName="buildingLengthS" matInput type="number" placeholder="Total length (S)" step="0.1">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Total length (W)</mat-label>
            <input formControlName="buildingLengthW" matInput type="number" placeholder="Total length (W)" step="0.1">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Perimeter</mat-label>
            <input matInput formControlName="perimeterOfTheBuilding">
          </mat-form-field>
        </div>

        <div class="header">
          <h2>Storey dimensions [m]</h2>
          <mat-icon class="info-icon" (click)="openInfoDialogStoreyDimensions()">info</mat-icon>
        </div>
        <div class="data-container">
          <mat-form-field appearance="fill">
            <mat-label>Storey Height Net</mat-label>
            <input formControlName="storeyHeightNet" matInput type="number" placeholder="Storey Height Net" step="0.1">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Storey Height Gross</mat-label>
            <input formControlName="storeyHeightGross" matInput type="number" placeholder="Storey Height Gross"
              step="0.1">
          </mat-form-field>
        </div>

        <h2>Attic [m²]</h2>
        <div class="data-container">
          <mat-form-field appearance="fill">
            <mat-label>Heat Area</mat-label>
            <input formControlName="heatAtticArea" matInput type="number" placeholder="Heat Attic Area" step="0.1">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Unheated Area</mat-label>
            <input formControlName="unheatedAtticArea" matInput type="number" placeholder="Unheated Attic Area"
              step="0.1">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Usable Area</mat-label>
            <input formControlName="atticUsableArea" matInput type="number" placeholder="Attic Usable Area" step="0.1">
          </mat-form-field>
        </div>

        <h2>Staircase</h2>
        <div class="data-container">
          <mat-form-field appearance="fill">
            <mat-label>Width</mat-label>
            <input formControlName="staircaseWidth" matInput type="number" placeholder="Staircase Width" step="0.1">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Surface</mat-label>
            <input formControlName="staircaseSurface" matInput type="number" placeholder="StaircaseSurface" step="0.1">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Usable Area</mat-label>
            <input formControlName="usableAreaOfTheStairCase" matInput type="number"
              placeholder="Usable Area Of The Stair Case" step="0.1">
          </mat-form-field>
        </div>

        <div class="header">
          <h2>Total Windows area [m²]</h2>
          <mat-icon class="info-icon" (click)="openInfoDialogWindowsArea()">info</mat-icon>
        </div>
        <div class="data-container">
          <mat-form-field appearance="fill">
            <mat-label>N</mat-label>
            <input formControlName="totalWindowAreaN" matInput type="number" placeholder="Total Window Area N"
              [value]="0 | number: '1.1-1'" readonly>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>E</mat-label>
            <input formControlName="totalWindowAreaE" matInput type="number" placeholder="Total Window Area E"
              [value]="0" readonly>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>S</mat-label>
            <input formControlName="totalWindowAreaS" matInput type="number" placeholder="Total Window Area S"
              [value]="0" readonly>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>W</mat-label>
            <input formControlName="totalWindowAreaW" matInput type="number" placeholder="Total Window Area W"
              [value]="0" readonly>
          </mat-form-field>
        </div>

        <div class="header">
          <h2>Total Doors area [m²]</h2>
          <mat-icon class="info-icon" (click)="openInfoDialogDoorsArea()">info</mat-icon>
        </div>
        <div class="data-container">
          <mat-form-field appearance="fill">
            <mat-label>N</mat-label>
            <input formControlName="totalDoorAreaN" matInput type="number" placeholder="Total Door Area N" [value]="0"
              readonly>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>E</mat-label>
            <input formControlName="totalDoorAreaE" matInput type="number" placeholder="Total Door Area E" [value]="0"
              readonly>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>S</mat-label>
            <input formControlName="totalDoorAreaS" matInput type="number" placeholder="Total Door Area S" [value]="0"
              readonly>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>W</mat-label>
            <input formControlName="totalDoorAreaW" matInput type="number" placeholder="Total Door Area W" [value]="0"
              readonly>
          </mat-form-field>
        </div>

        <h2>Building areas [m²]</h2>
        <div class="data-container">
          <mat-form-field appearance="fill">
            <mat-label>Area</mat-label>
            <input formControlName="buildingArea" matInput type="number" placeholder="Building Area" step="0.1">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Usable Area</mat-label>
            <input formControlName="usableAreaOfTheBuilding" matInput type="number"
              placeholder="Usable Area Of The Building" step="0.1">
          </mat-form-field>
        </div>

        <h2>Others</h2>
        <div class="data-container">
          <mat-form-field appearance="fill">
            <mat-label>Balcony Length</mat-label>
            <input formControlName="balconyLength" matInput type="number" placeholder="Balcony Length" step="0.1">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Cellar Height</mat-label>
            <input formControlName="cellarHeight" matInput type="number" placeholder="Cellar Height" step="0.1">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Storey Quantity</mat-label>
            <input formControlName="storeyQuantity" matInput type="number" placeholder="Storey Quantity" step="0.1">
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
</div>