main {
    margin-top: 8vh;
}


.example-spacer {
    flex: 1 1 auto;
}

table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

#sidebarMenu {
    height: 100vh;
    background-color: black;
    position: fixed;
    margin-top: 8vh;
}

.nav-item {
    text-align: center;
    font-size: 1.8vh;
}

a {
    color: black;
}

.headerContext {
    position: fixed;
    width: 96%;
}

.container {
    margin-top: 100px;
    padding-left: 0;
    margin-left: 0;
}

.filter {
    width: 96%;
    position: fixed;
}

.tableContent {
    width: 96vw;
    padding-top: 90px;
    padding-bottom: 10vh;
}