<div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="heat-loss-coefficient-by-transmission">
            HEAT LOSS COEFFICIENT BY TRANSMISSION (Htr)
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="heat-loss-coefficient-by-ventilation">
            HEAT LOSS COEFFICIENT BY VENTILATION (Hve)
        </a>
      </li>

        
    </ul>        
</div>
