<div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="heat-loss-coefficient-by-transmission">
            HEAT LOSS COEFFICIENT BY TRANSMISSION (Htr)
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="heat-loss-coefficient-by-ventilation">
            HEAT LOSS COEFFICIENT BY VENTILATION (Hve)
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="climatic-data">
            CLIMATIC DATA
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="heat-loss-by-transmission-and-ventilation">
          HEAT LOSS BY TRANSMISSION AND VENTILATION (Qtr, Qve)
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="heat-gains-from-solar-radiation">
          HEAT GAINS FROM SOLAR RADIATION (Qsol)
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="internal-heat-gains">
          INTERNAL HEAT GAINS (Qint)
        </a>
      </li>
  

        
    </ul>        
</div>
