<div class="position-sticky pt-0 sidebar-sticky content">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="heat-loss-coefficient-by-transmission">
            <!-- HEAT LOSS COEFFICIENT BY TRANSMISSION (Htr) -->
            Htr [W/K]
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="heat-loss-coefficient-by-ventilation">
            <!-- HEAT LOSS COEFFICIENT BY VENTILATION (Hve) -->
            Hve [W/K]
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="climatic-data">
            CLIMATIC DATA
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="heat-loss-by-transmission-and-ventilation">
          <!-- HEAT LOSS BY TRANSMISSION AND VENTILATION (Qtr, Qve) -->
          Qtr, Qve [kWh/m-c]
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="heat-gains-from-solar-radiation">
          <!-- HEAT GAINS FROM SOLAR RADIATION (Qsol) -->
          Qsol [kWh/m-c]
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="internal-heat-gains">
          <!-- INTERNAL HEAT GAINS (Qint) -->
          Qint [kWh/m-c]
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="annual-demand-for-usable-energy">
          <!-- ANNUAL DEMAND FOR USABLE ENERGY (QH,nd) -->
          QH,nd [kWh/m-c]
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="useful-heat-demand-for-hot-water-preparation">
          <!-- USEFUL HEAT DEMAND FOR HOT WATER PREPARATION (QW,nd) -->
          QW,nd [kWh/m-c]
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="demand-for-usable-and-final-energy">
          <!-- DEMAND FOR USABLE AND FINAL ENERGY (kWh/year) -->
          Qk,H [kWh/year]
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="demand-for-usable-and-final-energy-for-preparation-of-domestic-hot-water">
          <!-- DEMAND FOR USABLE AND FINAL ENERGY FOR HOT WATER (kWh/year) -->
          Qk,W [kWh/year]
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="final-energy-demand-for-lighting">
          <!-- FINAL ENERGY DEMAND FOR LIGHTING (kWh/year) -->
          Qk,L [kWh/year]
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="annual-demand-for-auxiliary-energy">
          <!-- ANNUAL DEMAND FOR AUXILIARY ENERGY (kWh/year) -->
          Eel,aux [kWh/year]
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="annual-demand-for-primary-final-usable-energy">
          <!-- ANNUAL DEMAND FOR PRIMARY (EP), FINAL (EK), USABLE ENERGY (EU) (kWh/m2 year) -->
          EU, EK, EP [kWh/m2 year]
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="building-energy-performance-certificate">
          BUILDING ENERGY PERFORMANCE CERTIFICATE
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="heat-demand-for-domestic-hot-water-preparation">
          Qcwu [kW]
        </a>
      </li>


      
      
      

      

      
  

        
    </ul>        
</div>
