<div class="position-sticky pt-0 sidebar-sticky content">
  <ul class="nav flex-column">
    <h4>GENERAL INFORMATION</h4>
    <!-- <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="building-information">
            BUILDING INFORMATION
        </a>
      </li> -->
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" [routerLink]="['/building-parameters', solutionId]">
        Building parameters
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="divisional-structures">
        Divisional structures
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="floor-on-the-ground">
        Floor on the ground
      </a>
    </li>
    <h4>STRUCTURE</h4>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="ground-works">
        Ground works
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="building-parameters">
        Foundations
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="building-parameters">
        Walls
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="building-parameters">
        Floors
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="building-parameters">
        Roof
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="building-parameters">
        Windows
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="building-parameters">
        Doors
      </a>
    </li>
    <h4>ENERGY</h4>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="building-parameters">
        Sanitary installation
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="building-parameters">
        Electrical installation
      </a>
    </li>
    <h4>FINISHING WORKS</h4>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="building-parameters">
        Plasters
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="building-parameters">
        Floors
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="building-parameters">
        Painting
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="building-parameters">
        Facade
      </a>
    </li>
    <h4>FURNITURE</h4>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="building-parameters">
        Kitchen
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="building-parameters">
        Bedroom
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="building-parameters">
        Bathroom
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="building-parameters">
        Living room
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="building-parameters">
        Garbage
      </a>
    </li>
  </ul>
</div>