
<app-root></app-root>
<router-outlet></router-outlet>

<nav class="navbar navbar-expand-lg navbar-dark btn-danger">
  
  <div class="container">
      <div class="collapse navbar-collapse project-headers" id="">
      <ul class="navbar-nav">  
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="building-object">BUILDING OBJECT</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="energy-demand">ENERGY DEMAND</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="operating-costs">OPERATING COSTS</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="investment-costs">INVESTMENT COSTS</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="cost-analysis">COST ANALYSIS</a>
        </li>       
        
      </ul>
    </div>   

  </div>  
                

</nav>




   
  
  

  
  
  